@font-face {
  font-family: "Gotham Pro";
  font-style: normal;
  font-weight: 400;
  src: local("Gotham Pro"), local("Gotham Pro Regular"),
       url("../font/GothamPro.woff") format("woff");
}

@font-face {
  font-family: "Gotham Pro";
  font-style: bold;
  font-weight: 700;
  src: local("Gotham Pro"), local("Gotham Pro Bold"),
       url("../font/GothamPro-Bold.woff") format("woff");
}

@font-face {
  font-family: "Gotham Pro";
  font-style: medium;
  font-weight: 500;
  src: local("Gotham Pro"), local("Gotham Pro Medium"),
       url("../font/GothamPro-Medium.woff") format("woff");
}

body {
  background-color: #F7F7FC;
  font-family: "Gotham Pro", "Arial", sans-serif;
  font-size: 10px;
  line-height: 11px;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

p {
  margin: 0;
  padding: 0;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  border: 0;
}

/* Размеры скроллбара */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

/* Трек поле скроллбара */
::-webkit-scrollbar-track {
  /* -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);  */
  background: none;
}

/* Ползунок скроллбара */
::-webkit-scrollbar-thumb {
  /* -webkit-box-shadow: inset 0 0 6px #212226;;  */
  /* background: #116E77; */
  background: none;
  border: 3px solid #116E77;
  border-radius: 3px;
}

/*-------Страница авторизации-------*/

.centering-block {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  overflow: auto;
}

.sign-in {
  background-color: #FFFFFF;
  border: none;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  border-radius: 10px;
  margin: auto;
  display: flex;
  flex-direction: row;
}

.sign-in__main, sign-in__form {
  display: flex;
  flex-direction: column;
}

.sign-in__logo {
  padding: 219px 268px 161px 212px;
}

.sign-in__main {
  padding-top: 219px;
  padding-right: 203px;
}

.sign-in__title {
  font-size: 16px;
  font-weight: bold;
  line-height: 18px;
  color: #4D4D4D;
  margin: 0;
  padding: 0 0 19px 0;
}

.sign-in__field {
  padding-bottom: 24px;
}

.sign-in__input {
  font-size: 11px;
  color: #4D4D4D;
  border: none;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  border-radius: 10px;
  padding: 23px 12px;
  width: 297px;
}

.sign-in__btn {
  font-size: 16px;
  font-weight: bold;
  line-height: 18px;
  color: #FFFFFF;
  background-color: #116E77;
  border: none;
  box-shadow: 4px 4px 6px rgba(0,0,0,0.2);
  border-radius: 10px;
  width: 321px;
  padding: 20px 12px;
  text-align: center;
}


/*-------Главная страница (общая)-------*/

.page-header {
  background-color: #333F50;
  box-shadow: 0 3px 6px rgba(0,0,0,0.3);
  padding: 15px 60px;
  display: flex;
  flex-direction: row;
}

.page-header__nav,
.nav__menu {
  display: flex;
  flex-direction: row;
}

.page-header__nav {
  justify-content: space-between;
}

.page-header__logo {
  margin-right: 41px;
}

.page-header__nav ul {
  margin: 0;
  padding: 0;
}

.page-header__nav li {
  list-style-type: none;
}

.nav__item {
  margin-right: 16px;
}

.nav__item:nth-child(2) {
  margin-right: 23px;
}

.nav__item:nth-child(3) {
  margin-right: 21px;
}

.page-header__item a {
  color: #FFFFFF;
  text-decoration: none;
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  padding-top: 5px;
  padding-bottom: 5px;
}

.page-header__item {
  cursor: pointer;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.page-header__item ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.page-header__item svg {
  padding-right: 10px;
}

.page-header__item svg path {
  fill: #FFFFFF;
}

.page-header__with-drop-down {
  position: relative;
  margin-left: auto;
  display: flex;
  align-items: center;
}

.page-header__drop-down {
  position: absolute;
  top: 46px;
  left: 0;
  background-color: #333F50;
  padding-left: 8px;
  width: 152px;
  margin-top: 0;
  margin-bottom: 0;
  box-shadow: 0 9px 13px rgba(0,0,0,0.3);
}

.page-header__drop-down--hide {
  display: none;
}

.page-header__drop-down-item {
  /* padding-top: 15px;
  padding-bottom: 14px; */
  width: 100%;
}

.page-header__drop-down-item a {
  font-size: 7px;
  line-height: 7px;
  padding-left: 4px;
  padding-top: 15px;
  padding-bottom: 14px;
  width: 100%;
}


.page-header__user {
  margin-right: 0;
}

.page-header__user svg:last-child {
  padding-left: 12px;
}

.page-header__item:hover a {
  color: #116E77;
}

.page-header__item:hover svg path {
  fill: #116E77;
}

.page-header__item--selected a {
  color: #116E77;
}

.page-header__item--selected svg path {
  fill: #116E77;
}




.user-page__main {
  width: 100%;
  padding: 40px 60px;
  box-sizing: border-box;
}

.page-main {
  background-color: #FFFFFF;
  border: none;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  border-radius: 10px;
  height: calc(100vh - 140px);
  width: 100%;
  box-sizing: border-box;
  overflow: auto;
}

.page-main--no-overflow {
  overflow: hidden;
}

.state-icon {
  height: 13px;
  width: 13px;
  border-radius: 3px;
}

.state-icon--size16 {
  height: 16px;
  width: 16px;
}

.state-icon--size7 {
  height: 7px;
  width: 7px;
}

.state-icon--purple {
  background-color: #E35AD1;
}

.state-icon--black {
  background-color: #333F50;
}

.state-icon--blue {
  background-color: #116E77;
}

.state-icon--green {
  background-color: #5AE371;
}

.state-icon--yellow {
  background-color:#E3C85A;
}

.state-icon--red {
  background-color:#E35A5A;
}



/*------- Главная страница -------*/

.dashboard {
  display: flex;
  flex-direction: row;
  padding: 40px 39px;
  align-content: stretch;
  padding-bottom: 0;
}

.dashboard__buttons {
  margin-right: 63px;
}

.dashboard__buttons ul {
  margin: 0;
  padding: 0;
}

.buttons-group__item,
.buttons-group__button {
  list-style-type: none;
}

.dashboard-groups__header {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  padding-bottom: 15px;
}

.dashboard-groups__title {
  margin: 0;
  padding: 0;
  font-size: 20px;
  line-height: 23px;
  color: #212226;
}

.dashboard-groups__link-to-all {
  font-size: 15px;
  line-height: 17px;
  margin-left: auto;
  color: #BCC0C7;
  font-weight: 500;
  padding-top: 6px;
}

.dashboard-groups__header svg {
  padding-right: 13px;
}

.buttons-group__item {
  padding-bottom: 26px;
}

.buttons-group__item:last-child {
  padding-bottom: 10px;
}

.buttons-group__buttons {
  display: flex;
  flex-direction: row;
}

.buttons-group__button {
  background-color: #F7F7FC;
  border: 1px solid #333F50;
  border-radius: 11px;
  width: 213px;
  margin-right: 19px;
  padding: 12px 18px;
}

.buttons-group__button:hover {
  background-color: #333F50;
}

.buttons-group__button:hover .main-button__count {
  color: #FFFFFF;
}

.buttons-group__button:hover p {
  color: #FFFFFF;
}



.buttons-group__button:last-child {
  margin-right: 0;
}

.buttons-group__button a {
  display: block;
  text-decoration: none;
}


.main-button__count {
  font-size: 32px;
  line-height: 36px;
  color: #212226;
  font-weight: bold;
  padding-left: 2px;
  padding-bottom: 134px;
}

.main-button__text {
  padding-bottom: 8px;
}

.main-button__button-name {
  display: flex;
  align-items: baseline;
}

.main-button__button-name p {
  font-size: 16px;
  line-height: 18px;
  color: #212226;
  font-weight: bold;
}

.main-button__icon {
  margin-right: 10px;
}

.buttons-group__button-name {
  font-size: 12px;
  line-height: 13px;
  color: #BCC0C7;
  padding-left: 22px;
  padding-top: 2px;
  white-space: pre-line;
}



.dashboard__events {
  flex-grow: 1;
}

.events-group {
  background-color: #F7F7FC;
  border: 1px solid #333F50;
  border-radius: 11px;
  width: 100%;
  height: calc(100vh - 260px);

  padding: 24px 27px;
  box-sizing: border-box;
}

.events-group__table-wrapper {
  height: 100%;
  overflow: auto;
}

.dashboard-table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 5px;
}

.dashboard-table__header {
  color: #BCC0C7;
  text-align: left;
  font-size: 8px;
  line-height: 9px;
  text-transform: uppercase;
}

.dashboard-table__row {
  color:#212226;
  text-align: left;
  font-size: 10px;
  line-height: 11px;
}

.dashboard-table__head-data {
  padding-left: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
}

.dashboard-table__head-data--no-scroll {
  background-color: #FFFFFF;
  position: sticky;
  top: 0;
  z-index: 3;
}

.dashboard-table__head-data--dark {
  background-color: #F7F7FC;
}

.dashboard-table__data {
  background-color: #FFFFFF;
  padding-top: 12px;
  padding-bottom: 10px;
  padding-left: 16px;
}

.dashboard-table__data a {
  color:#212226;
}

.dashboard-table--dark-row .dashboard-table__data {
  background-color: #F7F7FC;
}

.dashboard-table__data--with-button {
  text-align: right;
  position: relative;
  /* border: 1px solid red; */
  padding-right: 6px;
  padding-top: 11px;
  padding-bottom: 7px;
}

.dashboard-table__row-button {
  padding: 0;
  padding-right: 3px;
  padding-left: 3px;
  margin: 0;
  border: none;
  background: none;
  cursor: pointer;
}

.dashboard-table__row-menu {
  z-index: 2;
  position: absolute;
  top: calc(100% - 5px);
  right: 8px;
  width: 155px;
  background-color: #FFFFFF;
  box-shadow: 0 3px 13px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  display: block;
}

.table-row-menu {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.table-row-menu--hide {
  display: none;
}

.table-row-menu__item:hover {
  background-color: #F7F7FC;
}

.table-row-menu__button {
  font-size: 7px;
  line-height: 7px;
  color: #212226;
  text-decoration: none;
  display: flex;
  align-items: flex-end;
  cursor: pointer;
  text-align: left;
  padding-left: 12px;
  padding-top: 7px;
  padding-bottom: 9px;
}

.table-row-menu__button svg {
  padding-right: 6px;
}

/*------- Пользователи -------*/


.table-data {
  display: flex;
  flex-direction: column;
  padding-top: 28px;
  padding-left: 17px;
  padding-bottom: 26px;
  padding-right: 65px;
  align-content: stretch;
  padding-bottom: 0;
}

.table-data__table {
  box-sizing: border-box;
  overflow: auto;
  height: calc(100vh - 240px);
  /* border: 1px solid red; */
}

.table-data__header,
.table-data__filter,
.counters__list {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.table-data__header {
  padding-bottom: 14px;
}

.filter__wrapper {
  position: relative;
}

.filter__list {
  position: absolute;
  z-index: 4;
  top: 14px;
  left: 14px;
  display: none;
  width: 155px;
  background-color: #FFFFFF;
  box-shadow: 0 3px 13px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

/* .filter__toggle:checked + .filter__list {
  display: block;
} */

.filter__list--show {
  display: block;
}


.filter__item:hover {
  background-color: #F7F7FC;
}

.filter__button {
  font-family : inherit;
  font-size: 1em;
}

.filter__label {
  /* font-family: "Gotham Pro", "Arial", sans-serif;
  font-size: 8px; */
  font-family : inherit;
  font-size: 1em;
  line-height: 11px;
  text-align: left;
  border: none;
  background: none;
  width: 100%;
  position: relative;
  display: block;
  padding-left: 25px;
  padding-top: 7px;
  padding-bottom: 9px;
  padding-right: auto;
  font-size: 7px;
  line-height: 7px;
  color: #212226;
  cursor: pointer;
}

.filter__label::before {
  content: "";
  position: absolute;
  top: 7px;
  left: 12px;
  width: 7px;
  height: 7px;
  border-radius: 1px;
}

.filter__label--purple::before {
  background-color: #E35AD1;
}

.filter__label--black::before {
  background-color: #333F50;
}

.filter__label--blue::before {
  background-color: #116E77;
}

.filter__label--green::before {
  background-color: #5AE371;
}

.filter__label--yellow::before {
  background-color:#E3C85A;
}

.filter__label--red::before {
  background-color:#E35A5A;
}



.table-data__filter {
  font-size: 8px;
  line-height: 9px;
  text-transform: uppercase;
  text-decoration: underline;
  border: none;
  background-color: #FFFFFF;
  color: #212226;
  padding: 0;
  cursor: pointer;
}

.table-data__filter svg{
  margin-right: 6px;
}

.table-data__counters {
  margin-left: auto;
}

.counters__list {
  list-style: none;
  margin: 0;
}

.counters__item {
  padding-right: 19px;
}

.counters__item:last-child {
  padding-right: 0;
}

.counters__name {
  font-size: 8px;
  line-height: 9px;
  text-transform: uppercase;
  color: #BCC0C7;
  /* padding-top: 2px; */
  padding-bottom: 8px;
}

.counters__value {
  font-size: 10px;
  line-height: 11px;
  color: #212226;
}



.modal-window {
  position: absolute;
  top: calc(50% - 247px);
  left: calc(50% - 245px);
  height: 495px;
  width: 490px;
  background-color: #FFFFFF;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  outline: none;
 }

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(127,127,127,0.5);
  z-index: 5;
}

.modal-window__header {
  background-color: #333F50;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.modal-window__title {
  color: #FFFFFF;
  font-size: 10px;
  line-height: 20px;
  padding-left: 28px;
  padding-top: 16px;
  padding-bottom: 16px;
  font-weight: bold;
}

.modal-window__close-button {
  border-radius: 50%;
  border: none;
  background-color: #FFFFFF;
  font-size: 8px;
  /* line-height: 15px; */
  margin: 7px;
  /* height: 18px; */
  /* width: 18px; */
  font-weight: bold;
  /* padding: 0; */
  text-align: center;
  padding: 3px 5px;
}

.modal-window__main {
  padding: 28px;
  height: 395px;
}

.modal-window__table-wrapper {
  height: 100%;
  overflow: auto;
}

.modal-window__table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 5px;
}

.modal-window__table-row {
  color:#212226;
  text-align: left;
  font-size: 10px;
  line-height: 11px;
}

.modal-window__table-data {
  background-color: #F7F7FC;
  padding-top: 12px;
  padding-bottom: 10px;
  padding-left: 16px;
}
